<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<script>
    let tokenizationKey = 'sandbox_rzpcg934_mzwf7bv4zc2bjccb'; //'tokenization key' from zhodu@paypal.com 

    // Create a client.
    braintree.client.create({
        authorization: tokenizationKey
    }, function (clientErr, clientInstance) {
        // Stop if there was a problem creating the client.
        // This could happen if there is a network error or if the authorization
        // is invalid.
        if (clientErr) {
            console.error('Error creating client:', clientErr);
            return;
        }

        

        // Create a PayPal Checkout component.
        braintree.paypalCheckout.create({
            client: clientInstance
        }, function (paypalCheckoutErr, paypalCheckoutInstance) {

            // Stop if there was a problem creating PayPal Checkout.
            // This could happen if there was a network error or if it's incorrectly
            // configured.
            if (paypalCheckoutErr) {
                console.error('Error creating PayPal Checkout:', paypalCheckoutErr);
                return;
            }

            // Load the PayPal JS SDK (see Load the PayPal JS SDK section)
            paypalCheckoutInstance.loadPayPalSDK({
                components: 'buttons,messages',
                currency: 'USD',
                intent: 'capture',
                vault: 'true'
                
            }, function () {

                paypal.Buttons({
                    fundingSource: paypal.FUNDING.PAYPAL,

        createBillingAgreement: function () {
          return paypalCheckoutInstance.createPayment({
            flow: 'vault', // Required

            // The following are optional params
            billingAgreementDescription: 'Here is the billingAgreementDescription',
            enableShippingAddress: true,
            shippingAddressEditable: false,
            shippingAddressOverride: {
              recipientName: 'Scruff McGruff',
              line1: '1234 Main St.',
              line2: 'Unit 1',
              city: 'Chicago',
              countryCode: 'US',
              postalCode: '60652',
              state: 'IL',
              phone: '123.456.7890'
            }
          });
        },

                    onApprove: function (data, actions) {
                        return paypalCheckoutInstance.tokenizePayment(data, function (err, payload) {
                            //Submit `payload.nounce` to your server
                            console.log('onApprove data:' + data);
                            console.log('onApprove payload:' + payload);
                            console.log('Payload.nounce', JSON.stringify(payload.nonce));
                        
                            gateway.paymentMethod.create({
                            customerId: "12345",
                            paymentMethodNonce: payload.nonce
                            }, (err, result) => { });
                        });
                    },

                    onCancel: function (data) {
                        console.log('PayPal payment cancelled', JSON.stringify(data, 0, 2));
                    },

                    onError: function (err) {
                        console.error('PayPal error', err);
                    }
                }).render('#paypal-button').then(function () {
                    // The PayPal button will be rendered in an html element with the ID
                    // `paypal-button`. This function will be called when the PayPal button
                    // is set up and ready to be used
                    console.log('hi');


                });

            });

        });

    });
</script>